<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./css/images/cloudy.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">

    <title>Weather about </title>
</head>
<body>
    {{>header}}    
    <img class = "potrait" src="./css/images/13992.png" alt="images" >
    <p id="about_page">This is a basic weather app where we have used 2 APIs which are <b>Mapbox api</b> for fetching the coordinates and <b>Weather Stack api</b> to <b>decipher the location</b> based on the coordinates and display the <b>weather forecast of that location. </b>
    <span style="color: brown;">The above image is just a place filler :P</span></p>
    {{>footer}}
</body>
</html>